<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <title>Erro 404 - Página não encontrada</title>
    <style>
      body {
        background-color: #f8f8f8;
        font-family: Arial, sans-serif;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
        padding: 50px;
      }
      h1 {
        font-size: 72px;
        color: #d9534f;
        margin-bottom: 0;
      }
      p {
        font-size: 24px;
        color: #333;
        margin-top: 0;
      }
      img {
        margin-top: 50px;
        max-width: 100%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Erro 404</h1>
      <p>Página não encontrada <br> Hmmm... Aparentemente há algum problema na rota que está tentando acessar! <br> Verifique a URL utilizada e tente novamente.</p>
      <img src="https://media.istockphoto.com/id/1197233052/pt/vetorial/page-not-found-error-404-robot-fix-repair-fatal-broke-crash-hand-drawn-sketch-vector-line.jpg?s=170667a&w=0&k=20&c=mrZE8tgov47IyCkF9jemQay6YQt8Py6gnHt4teZyK3Y=" alt="Robô 404">
    </div>
  </body>
</html>